#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Name=Legobot
Comment=Open '/home/buggs/Botball/trunk/2010_Nationals/Legobot'
Icon=inode-directory
Name[en_US]=Legobot
Comment[en_US]=Open '/home/buggs/Botball/trunk/2010_Nationals/Legobot'
Icon[en_US]=inode-directory
URL=file:///home/buggs/Botball/trunk/2010_Nationals/Legobot
Type=Link
